
.about-main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: var(--content-padding);
    margin-top: 80px;
    /* background-color: var(--bg-light); */
}
.about-content {
    display: flex;
    gap: 25px;
    font-size: 35px;
    font-family: Open Sans;
}
.about {
    background-color: var(--bg-light);
    padding: 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 2500px) {
    .about-content {
        font-size: 60px;
    }
}
@media (max-width: 1440px) {
    .about-content {
        font-size: 35px;
    }
}
@media (max-width: 1024px) {
    .about-content {
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    .about-content {
        font-size: 20px;
    }
}
@media (max-width: 425px) {
    .about-content {
        font-size: 18px;
    }
}
