/* /* original img size is 846x928 */ */
.aaron {
    width: 14vw;
    height: 15vw;
}
.input {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    height: 57px;
    /* background-color: rgb(30, 30, 30); */
    background-color: var(--bg-dark);
    margin-bottom: 4px;
    color: white;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--baby-blue), var(--baby-blue));
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size 0.5s ease;
}
.input:focus {
    background-size: 100% 4px;
}
.message {
    height: 195px;
}
.submit-button {
    width: 150px;
    height: 57px;
    font-size: 25px;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0);
    color: var(--baby-blue);
    border: 2px solid var(--baby-blue);
    background-image: linear-gradient(45deg, var(--baby-blue), var(--baby-blue));
    background-size: 0% 100%;
    transition: background-size 0.5s ease, color 0.4s ease;
    background-repeat: no-repeat;
    text-align: center;
}
.submit-button:hover {
    background-size: 100% 100%;
    color: black;
}
.contact-main {    
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: var(--content-padding);
    margin-top: 80px;
}
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 10px;
    /* align-items: stretch; */
    justify-content: center;
    align-items: center;
}

.input-container {
    flex: 1 1 auto; /* Allow the container to shrink and grow */
    min-width: 225px; /* Set a minimum width for the container */
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}
.name-email-container {
    display: flex;
    flex-direction: row;
    gap: 5px
}

.name-email-container .form-group {
    flex-basis: 50%;
}

.subject-container,
.message-container {
    flex-basis: 100%; /* Set width to 100% so they appear on a new row */
}
.submit-container {
    align-self: flex-end;
}

.image-container {
    flex: 0 0 25%; /* Set the width of the image column */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%; /* Add a circular border radius to the image */
}
@media (max-width: 900px) {
    .name-email-container {
        flex-direction: column;
        gap: 0;
    }
    .name-email-container .form-group {
        flex-basis: 100%;
    }
}
