/* the original size of the logo is 378 113 */
.logo {
    height: 38px;
    width: 126px;
    padding: 40px 80px 20px 80px;
}
.header-main {
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, var(--baby-blue), #19A7CE, #146C94);
	background-size: 200% 200%;
    animation: animate 10s ease infinite;
    width: 100%;
    z-index: 10;
}
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    width: 100%;
}
.hide {
    display: block;
}
.header-button {
    font-size: 25px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px 80px 0 80px;
    background: transparent;
    border: none;
}
@media (max-width: 1700px) {
    .header-links {
        padding-left: 5vw;
    }
}
@media (max-width: 1100px) {
    .header-links {
        padding-left: 10vw;
    }
}
@media (max-width: 1024px) {
    .header-links {
        padding-left: 12vw;
    }
    .header-button {
        padding: 40px 40px 0 40px;
    }
}
@media (max-width: 900px) {
    .header-links {
        gap: 0;
        padding-left: 15vw;
    } 
    .header-button {
        padding: 40px 30px 0 30px;
    }
}
/* @media (max-width: 800px) { */
/*     .header-links { */
/*         gap: 0; */
/*         padding-left: 80px; */
/*     }  */
/*     .header-button { */
/*         padding: 40px 30px 0 30px; */
/*     } */
/* } */
@media (max-width: 800px) {
    .header-main {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        padding: 40px 0 40px 0;
    }
    .header-links {
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        position: static;
        height: fit-content;
    } 
    .header-button {
        padding: 0 0 40px 0;
    }
}
