:root {
    --content-padding: 75px
}

body {
    background-color: gray;
    font-family: Courier New;
}
a {
    text-decoration: none;
    outline: none;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
