:root {
    --content-padding: 100px;
    --button-blue: #0080FF;
    --button-blue-hover: #1E8FFF; 
    --baby-blue: #00CCC0;
    --gradient-1: #00CCC0;
    --gradient-2: #19A7CE;
    --gradient-3: #146C94;
    --gradient-2-1: #CD0074;
    --gradient-2-2: #CF19AB;
    --gradient-2-3: #94157A;
    --bg: #292929;
    --bg-dark: #111111;
    --bg-light: #353535;
}

body {
    background-color: var(--bg);
    font-family: Courier New;
    color: white;
}
a {
    text-decoration: none;
    outline: none;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.gap-xxsm {
    gap: 2px;
}
.gap-xsm {
    gap: 4px;
}
.section {
    padding: 25px;
    border-radius: 8px;
    background-color: var(--bg-light);
}
.highlighted { 
    background-image: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
} 
.header {
    font-size: 50px;
}
@media (min-width: 2000px) {
    .header {
        font-size: 80px;
    }
}
