:root {
    --content-padding: 75px;
    --button-blue: #0080FF;
    --button-blue-hover: #1E8FFF; 
    --baby-blue: #00CCC0;
    --bg: #292929;
    --bg-light: #111111;
}

body {
    background-color: var(--bg);
    font-family: Courier New;
    color: white;
}
a {
    text-decoration: none;
    outline: none;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.gap-xxsm {
    gap: 2px;
}
.gap-xsm {
    gap: 4px;
}
